body {
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}
#game-container {
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90vw;
    max-width: calc((100vh - 10vw) / 9 * 10);
    height: calc(100vh - 10vw);
    max-height: calc(90vw / 10 * 9);
    overflow: hidden;
    background-color: #340;
    border-top: 5px solid #111;
    border-left: 5px solid #111;
    border-bottom: 5px solid #444;
    border-right: 5px solid #444;
}
#game, #hud {
    display: grid;
    grid-template-columns:  repeat(159, 1fr);
    grid-template-rows: repeat(143, 1fr);
    gap: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#test {
    background-color: white;
    z-index: 99999;
}
.pixel {
    grid-column: var(--x);
    grid-row: var(--y);
}